.about-me-section {
    
    h2 {
        font-size: 3rem;
        color: var(--orange);
        text-align: center;
    }
}

.flex-gap {
    gap:100px;
}

.about-me-article {
    p {
        font-size: 1.5rem;
    }
}