.main-header {
    > * {
        justify-content: space-between;
    }
}

.gap {
    gap: var(--gap, 2rem);
}

.mobile-nav-button {
    display: none;
}

.main-navigation {
    align-items: flex-start;
    z-index: 1000;
    padding: 1rem;
    a {
        font-family: 'Julius Sans One', sans-serif;
        font-size: clamp(1.5rem, 10vh, 1.8rem);
        text-transform: uppercase;
        /*transition: all 500ms ease;
        &:hover {
            font-size: 1.8rem;
        }*/
    }
}







@media (max-width: 768px) {
    .main-navigation {
        --gap: 3em;
        position: fixed;
        inset: 0 0 0 30%;
        background-color: hsla(0, 0%, 0%, 0.9);
        padding: min(30rem, 10rem) 2em;
        transform: translateX(100%);
        transition:all 500ms ease-in-out;
    }

    .main-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    @supports (backdrop-filter: blur(0.5rem)) {
        .main-navigation {
            background-color: hsla(0, 0%, 100%, 0.1);
            backdrop-filter: blur(1rem); /* ***** check Support*******/
        }
    }

    .mobile-nav-button {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
        width: 2.5rem;
        background-color: transparent;
        aspect-ratio: 1;
        background-image: url("/img/nav-btn-open.svg");
        filter: invert(59%) sepia(100%) saturate(445%) hue-rotate(350deg) brightness(100%) contrast(98%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        
    }
}



.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
