.container {
    width: 90%; /*CHANGE*/
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

.col-1-2 {
    max-width: 50%;
}
.col-1-4 {
    max-width: 25%;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
    .col-1-2,
    .col-1-4 {
        max-width: 100%;
    }
    
}